# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List common libraries used in Data Science
+ List commonly used Data Science tools
+ Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the common libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow

| Data Science Tools |
---
| Jupyter Notebook |
| Apache Hadoop |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author
Yuchan Kim